DRONE_GITEA_SERVER=https://git.jannisk.de
DRONE_GITEA_CLIENT_ID=${DRONE_GITEA_CLIENT_ID}
DRONE_GITEA_CLIENT_SECRET=${DRONE_GITEA_CLIENT_SECRET}
DRONE_RPC_SECRET=${DRONE_RPC_SECRET}
DRONE_SERVER_HOST=drone.jannisk.de
DRONE_SERVER_PROTO=https