CREATE_TUN_DEVICE=true
OPENVPN_PROVIDER=PIA
OPENVPN_CONFIG=CA Toronto 
OPENVPN_USERNAME=${OPENVPN_USERNAME}
OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
WEBPROXY_ENABLED=false
LOCAL_NETWORK=192.168.178.0/24
OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
TRANSMISSION_SPEED_LIMIT_DOWN=2000
TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED=true
TRANSMISSION_SPEED_LIMIT_UP=100
TRANSMISSION_SPEED_LIMIT_UP_ENABLED=true
TRANSMISSION_RATIO_LIMIT=0.1
TRANSMISSION_RATIO_LIMIT_ENABLED=true
TRANSMISSION_UPLOAD_LIMIT_ENABLED=true
TRANSMISSION_DOWNLOAD_LIMIT_ENABLE=true